<span class="toolbox text">
	
  <span id="Layer-1" class="options bkgnd pngimg"  ></span>
  <span id="Layer-2" class="fontSize bkgnd pngimg"  ></span>
  <div class="select select-fancy select-fancy-noimage">
	  <select class="fontSize">
		<option value="32">32</option>
		<option value="72">72</option>
		<option value="92">92</option>
	  </select>
	</div>
	<span id="Layer-3" class="textColor bkgnd pngimg"  ></span>
	<span id="Layer-4" class="B bkgnd pngimg"  ></span>
	<span id="Layer-5" class="I bkgnd pngimg"  ></span>
	<span id="Layer-6" class="U bkgnd pngimg"  ></span>
	<span id="Layer-7" class="bringForward bkgnd pngimg"  ></span>
	<span id="Layer-8" class="sendBack bkgnd pngimg"  ></span>
	<span id="Layer-9" class="copyStyle bkgnd pngimg"  ></span>
	<span id="Layer-10" class="pasteStyle bkgnd pngimg"  ></span>
	<span id="Layer-12" class="copyContent bkgnd pngimg"  ></span>
	
	<br/>
	<input type="range" class="textOpacity"/>  
	<div class="select select-fancy select-fancy-noimage">
	  <select class="strokeWidth">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
	  </select>
	</div>
</span>
